/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.carousel img {
    max-height: 500px;
	max-width: 645px;
    margin: 0 auto;
}

#information {
	text-align: center;
}

#choice1 {
	text-align: center;
	display: none;
}
#choice2 {
	text-align: center;
	display: none;
}
#choice3 {
	text-align: center;
	display: none;
}
#choice4 {
	text-align: center;
	display: none;
}